@charset "utf-8";



.centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center_vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.center_horizontal {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* 모바일용 */
@media only screen and (max-width: 767px) {

    .contentbox {
        width: 80%;
        /* margin-top: 40px; */
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 100%;
        padding:10%;
    }
}

/* PC용 */
@media screen and (min-width: 768px) {

    .contentbox {


        padding-left: 5%;
        padding-right: 5%;
        height: 100%;
        /* height: 800px; */
        bottom:0px;
        /* padding-bottom:30%; */
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}